<mat-drawer-container class="example-container" autosize>
    <mat-list>
        <mat-list-item>
            <a routerLink="/comp1" routerLinkActive="active">Component 1</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <a routerLink="/comp2" routerLinkActive="active">Component 2</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <a routerLink="/comp3" routerLinkActive="active">Component 3</a></mat-list-item>
    </mat-list>

</mat-drawer-container>